<!DOCTYPE html>

<html lang="en">
<head>
    <title>WilliamK Docs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>

</head>


<div class="title-bar">
    <div class="title-bar-left">
        <span class="title-bar-title">WilliamK Documentation</span>
    </div>
</div>


<div class="grid-x grid-padding-x">
    <article class="large-12 medium-12 cell">
        <%- md("docs/index.md"); %>
    </article>
</div>


<footer>
<p class="text-center">Copyright 2022 - WilliamK.dev</p>
</footer>


</html>